header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
}
.container{
    width: 95%;
    margin: 10 auto;
    padding-top: 20px;
}
header .banner{
    width: 100%;
    height: 35px;
}

header .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .menu1{
    width: 100%;
    height: 68px;
    padding: 0 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .menu1 .logo{

    display: none;
}

header .menu1 .search{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

header .menu1 .search form{
    width: 100%;
    height: 100%;

}
header .menu1 .search form label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
}
header .menu1 .search form label img{
    display: none;
}
header .menu1 .search form label svg{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
header .menu1 .search form label input{
    width: 100%;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding-right: 56px;
    background-color: #F0F0F1;
}

header .menu1 .search form label input img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 110px;
    width: 90px;
    height: 24px;
}

header .menu1 .buttons{

    display: none;
}
header .menu2{
    display: none;
}
.miniMenu{
   width: 100%;
   height: 55px;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: white;
}

.miniMenu .miniMenu__nav {
    width: 100%;
    height: 100%;
}

.miniMenu .miniMenu__nav .miniMenu__list{
     width: 100%;
     height: 100%;
     list-style: none;
     display: flex;
     flex-flow: row nowrap;
}
.miniMenu .miniMenu__nav .miniMenu__list .miniMenu__item{
    flex-basis: 25%;
}
.miniMenu .miniMenu__nav .miniMenu__list .miniMenu__item .link{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: silver;
    font-size: 12px;

}
.miniMenu .miniMenu__nav .miniMenu__list .miniMenu__item:first-child .link{
    color: black;
}
.cityCover{
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2000;
}
.cityCover .cities{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    position: relative;
}

.cityCover .cities .title{
    width: 100%;
    height: 58px;
    padding: 0 20px;
    background-color: aqua;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
}

.cityCover .cities .title::after{
    position: absolute;
    content: "";
    width: calc(100% - 20px * 2);

    height: 2px;
    background-color: silver;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cityCover .cities label{
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
}
.cityCover .cities .cities__nav{
    width: 100%;
    height: calc(100% - 58px);
}

.cityCover .cities .cities__nav .cities__list{
    width: 100%;
    height: 100%;
    list-style:none;
    padding: 0 20px;
    overflow: auto;
    direction: ltr;
}
.cityCover .cities .cities__nav .cities__list .cities__item{
    width: 100%;
    height: 56px;
    border-bottom:1px solid #eeeeee;
    direction: rtl;
}

.cityCover .cities .cities__nav .cities__list .cities__item .cities__link{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

#openCity:checked ~ .cityCover{
    display: flex;
    animation: fadeIn 300ms linear forwards;
} 
#close:checked ~ .cityCover{
    display: none;
}
#openCity,#closeCity{
    display: none;
}

.stories{
    display: none;
}
.slider1{
    width: 100%;
    height: 268px;
}
.silder1 .swiper {
    width: 100%;
    height: 100%;
    margin-top: -50px;
}
  
.silder1 .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .silder1 .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
  }
  .silder1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.services{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 25%;
}
.services .service{
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 25%;
}
.services .service a{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 234px;
    height: 100%;
    text-decoration: none;
    gap: 8px;
    color: black;
    margin-top: 10px;
}

.services .service a .img{
    width: 52px;
    height: 52px;
}


.services .service a .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .service a span{
    font-size:12px;
}
.services .service:last-of-type .circle{
    width: 52px;
    height: 52px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
} 
.services .service:last-of-type .circle .miniC{
    width: 5px;
    height: 5px;
    background-color: #a1a3a8;
    border-radius: 50%;
}

.slider2{
    width: 100%;
    height: 300px;
    background: linear-gradient(to top ,#ef4056,#ef394e);
    border-radius: 16px;
    padding: 20px;
}


.slider2 .swiper {
    width: 100%;
    height: 100%;
    
  }

  .slider2 .swiper-slide {
    flex-basis: 154px;
    height: 100%;
    text-align: center;
    flex-shrink: 0;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider2 .swiper-slide:first-child{
    flex-basis: 145px;
    background-color: transparent;
    flex-flow: column nowrap;
    gap: 8px;
}
.slider2 .swiper-slide:nth-of-type(2){
    border-radius:0 8px 8px 0;
}
.slider2 .swiper-slide:nth-last-of-type(1){
    border-radius:8px 0px 0px 8px;
    font-size: 16px;
    color: blue;
}

.slider2 .swiper-slide:not(:first-of-type) a{
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    width: 100%;
    height: 100%;
    
}
.slider2 .swiper-slide:not(:first-of-type) a .img{
    margin-bottom: 20px;
}
.slider2 .swiper-slide:not(:first-of-type) a .price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     flex-flow: row-reverse ;
}
.slider2 .swiper-slide:not(:first-of-type) a .price .exact__price{
    font-weight: bold; 
}
.slider2 .swiper-slide:not(:first-of-type) a .price .discount{
    background: #ef394e;
    color: white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 10px;
}
.slider2 .swiper-slide:not(:first-of-type) a del{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #cbc9c9;
    margin-top: 4px;
}

.slider2 .swiper-slide:first-child img:first-child{
    width: 92px;
    height: 77px;
}
.slider2 .swiper-slide:first-child img:last-of-type{
    width: 145px;
    height: 115px;
}

.slider2 .swiper-slide:first-child a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top: 14px;
}

.slider2  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
.slider3{
    height: 465px !important;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    height: 404px;
    border: 0.5px solid rgb(221, 218, 218);
    border-radius: 16px;
}

.slider3 .header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.slider3 .header svg{
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.slider3 .swiper {
    width: 100%;
    height: 365px;
    margin-left: auto;
    margin-right: auto;
 }

.slider3 .swiper-slide {
    height: 90px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-bottom: 0.5px solid rgb(221, 218, 218);
    height: calc((100%) / 3) !important;
    /* Center slide text vertically */
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    

}
.slider3 .swiper-slide .text_area{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.slider3 .swiper-slide .image_product img{
    width: 86px;
    height: 86px;
}

.slider3 .swiper-slide .text_area .number p{
    color: #19bfd3;
    font-size: 32px;
}

.slider3 .swiper-slide .text_area .mtext{
    font-size: 15px;
    color: darkolivegreen;
    width: 100%;
    height: 86px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.slider3 .swiper-slide .text_area .mtext p{
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.services2 {
    border-radius: 16px;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    /* background-image: url("../image/freshPattern.svg"); */
   
    background: linear-gradient(to right, transparent , #c8cac8);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.services2 .nested__item1{
    height: 74px;
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-right: 50px;
    transform: translateY(18%);
}

.services2 .nested__item1 .img__home{
   
    width: 62px;
    height: 62px;
    
}
.services2 .nested__item1 svg{
   
    margin-right: 40px;

}
.services2 .nested__item1 .discount{
    border-radius: 16px;
    padding: 8px;
    margin-right: 20px;
}

.services2 .nested__item1 .discount p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    
}

.services2 .nested__item2{
    width: fit-content;
    height: 74px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    left: 0;
    transform: translateY(18%);
    margin-left: 50px;
}

.services2 .nested__item2 .item{
    width: 74px;
    position: relative;
    margin-right: 10px;
}
.services2 .nested__item2 .item img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
   

}
.services2 .nested__item2 .item p{
    width: fit-content;
    background: #ef394e;
    color: white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 1px;
    right: -4px;
}
.services3{
    width: 100%;
    height: fit-content ;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 9px;
    justify-content: center;
    margin-top: 20px;
}
.services3 .service img{
    border-radius: 20px;
    width: 463px;
    height: 100%;
}
.services4 .services4_header{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 16px;
}
.services4 .services4_body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}
.services4 .service img{

    width: 100px;
    height: 100px;
}
.services4 .service p{
    font-size: 15px;
}

.services5{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.services5 .service img{
    width: 470px;
    height: 100%;
    border-radius: 16px;
}
.services6{
    
    border-radius: 16px;
    margin-top: 20px;
    height: fit-content;
}
.services6_header{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 16px;
}

.services6_header h3{
   margin-right: 44px;
}


.services6_body{
    height: fit-content !important;
    border: 0.5px solid rgb(221, 218, 218);
    border-radius: 16px;
    margin-top: 20px;
    width: 100%;
    height: 175px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.services6_body .line{
    width: 100%;
    height: 0.5px;
    background-color: silver;
}

.services6_body .row_top{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.services6_body .row_top div:last-child{

    border-left: transparent;
}

.services6_body .row_bottom{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.services6_body .row_bottom div:last-child{

    border-left: transparent;
}
.services6_body .service{
    width: 135px;
    height: 133px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid silver;
}
.services6_body .service img{
    width: 60px;
    height: 60px;
}
.services6_body .service p{
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.services7{
    width: 100%;
    height: fit-content;
    border: 0.5px solid silver;
    border-radius: 16px;
    margin-top: 20px;
}
.services7 .services7_header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: auto;
    
}
.services7 .services7_header svg{
    margin-left: 10px;
}
.services7_body{
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    
}

.services7_body .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
 }

.services7_body .swiper-slide {
    width: 142px !important;
    height: 118px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
 
    /* Center slide text vertically */
    border-left: 0.5px solid silver;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.services7_body .swiper-slide img {
    width: 100px;
    height: 100px;
}


.mfooter{
    margin-top: 20px;
    border-top: 0.5px solid silver;
    width: 100%;
    height: 500px;
    display: none;
}

