*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Yekan';
    src: url('../font/Yekan.woff') format('woff');
}  
body{
    font-family: "Yekan" , sans-serif;
    
}
::placeholder{
    font-family: "Yekan" , sans-serif;
}
.container{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}
html{
    scroll-behavior: smooth;
}

main{
    padding-top: 150px;
}